<!--SECTION BLOG-->

 
<section id="project" class="section-blog page-effect">
    <div class="container">
        <h1 class="t-blog"> BLOG </h1>
        <div class="blog-content">
            <div class="blog-item" *ngFor="let post of posts$ | async">
                <div class="blog-desc box-text">
                    <h2>{{post.title}} <span class="date-blog">{{post.id}}</span></h2>
                    <p>{{post.content}}</p>
                </div>
            </div>
        </div><!--close box content-->
        <div class="row">
              <div class="col-md-8">
                <div class="blog-content">
                    <div class="blog-item" *ngFor="let post of posts$ | async">
                        <div class="blog-desc box-text">
                            <h2>{{post.title}} <span class="date-blog">{{post.id}}</span></h2>
                            <p>{{post.content}}</p>
                        </div>
                    </div>
                </div><!--close box content-->
             </div>
             <div class="col-md-4">
                <div class="box-content right-position">
                  <div class="blog-right-column">
                    <h2>Categories</h2>
                    <ul>
                       <li><a href="#"><i class="fa fa-angle-double-right"></i> Audio</a></li>
                       <li><a href="#"><i class="fa fa-angle-double-right"></i> Video</a></li>
                       <li><a href="#"><i class="fa fa-angle-double-right"></i> Design</a></li>
                       <li><a href="#"><i class="fa fa-angle-double-right"></i> Photo</a></li>
                       <li><a href="#"><i class="fa fa-angle-double-right"></i> Branding</a></li>
                    </ul>
                  </div>
                </div>
                <div class="box-content blog-r-posts">
                  <div class="blog-right-column">
                    <h2>Recent Posts</h2>
                    <ul>
                       <li><a href="#"><i class="fa fa-angle-double-right"></i> Ut egestas angularjs nec mauris</a></li>
                       <li><a href="#"><i class="fa fa-angle-double-right"></i> Nullam pellentesque dui a neque</a></li>
                       <li><a href="#"><i class="fa fa-angle-double-right"></i> miniMe varius tortor eu lacus</a></li>
                       <li><a href="#"><i class="fa fa-angle-double-right"></i> More angularjs more dinamyc html</a></li>
                       <li><a href="#"><i class="fa fa-angle-double-right"></i> Branding html5 for better website</a></li>
                    </ul>
                  </div>
                </div>
             </div>
        </div><!--close row-->
    </div><!--close container-->
</section>
<hr />

<!-- <section id="blog-carousel">
    <div class="container">
        <div class="row">
            <div class="box-content box-carousel">
               <h1> RELATED PROJECTS </h1>
               <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let card of items; let i = index">
                    <ng-template carouselSlide>
                        <div class="item">
                            <img src="{{card.src}}" alt="" />
                            <p class="details-title">{{card.author}}</p>
                            <p class="details-desc">{{card.button}}</p>
                         </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
            </div>
        </div>
    </div>
</section> -->